name: Hello World Workflow
on:
  push:
jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v6
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: echo "Building the project..."