name: Hello World Workflow
on:
  push:
jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        runs: |
         echo "Cloning the repository..."
         git clone https://github.com/mnegi3956/mukesh_gha_demo.git myfolder
         cd myfolder && ls -la